
      
        <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="manifest" href="/manifest.json">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-info  navbar-right navbar-dark ">
  
  <a class="navbar-brand navbar-right" href="{{ 'client' }}">
      <img src="/images/logos/mw.jpeg" alt="logo" style="width:80px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link nav-left text-white text-right" href="{{ 'home' }}"><h2>Home</h2></a>
    </li>
    <li class="nav-item">
        <a class="nav-link  text-white " href="{{ 'auth' }}"><h2>Authentification<h2/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-white " href="{{'registration'}}"><h2>registration<h2/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-white " href="{{ 'image' }}"><h2>image<h2/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-white " href="{{ 'client' }}"><h2>client<h2/></a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link  text-white " href="{{ 'bts' }}"><h2>My page <h2/></a>
    </li>
  </ul>
    
  <form class="form-inline  form-right" action="/action_page.php">
    <input class="form-control mr-sm-2 text-right" type="text" placeholder="Search">
    <button class="btn btn-light btn-" type="submit">Search</button>
  </form>

</nav>

<div class="container-fluid">
  
</div>



          {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

       
        
    </body>
</html>
